layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  
  tab name="run"
  tab name="git"
  tab name="code"
  tab name="cmd"
}
