default_mode "locked"

keybinds {
  unbind "Ctrl h"
  move {
    bind "Ctrl b" { SwitchToMode "Normal"; }
  }
  search {
    bind "N" { Search "up"; }
  }
  shared_except "move" "locked" {
    bind "Ctrl b" { SwitchToMode "Move"; }
  }
  locked {
    bind "Alt h" { MoveFocusOrTab "Left"; }
    bind "Alt l" { MoveFocusOrTab "Right"; }
  }
}
